@import "../../../scss/mixins";
@import "../../../scss/variables";

._indexLogin {
  height: calc(100vh - $header-height-sm);
  overflow: hidden;
  @include lg {
    height: calc(100vh - $header-height-lg);
  }
}
