@import "../../../scss/mixins";

._counterHeader {
  height: 20px;
  overflow: hidden;
  margin-bottom: -2px;

  @include sm {
    margin-bottom: 0px;
  }

   @include lg {
    margin-bottom: 3px;
  }

  &__dygit {
    height: 20px;
    margin-left: 3px;
  }
}
