@import "../mixins.scss";

.container {
  max-width: 100%;
  padding: 0;
  @include sm {
    padding-left: 200px;
  }
  @include md {
    padding-left: 230px;
  }
  @include lg {
    padding-left: 250px;
  }
}
