@import "../../../scss/mixins";
@import "../../../scss/variables";

._columnsHeader {
  position: sticky;
  top: $summary-height-sm;
  font-size: $h4-font-size;
  z-index: 100;

  @include sm {
    font-size: $h3-font-size;
  }

  @include md {
    top: $summary-height-lg;
  }
  &__item {
    height: 35px;
    width: 33%;
    @include md {
      width: 30%;
    }
  }
}
