$primary: rgb(142, 151, 164);
// $info: rgb(221, 218, 231);
$info: rgb(165, 157, 190);
$info-text-emphasis: rgb(165, 157, 190);
// $info: rgb(46, 41, 78);

.fs-7 {
  font-size: 0.8rem;
}
.fs-8 {
  font-size: 0.6rem;
}
