@import "./variables";
@import "./mixins";

body {
  overflow-y: scroll;
}

._scrolHidden {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

._bg-opacity-white {
  background-color: rgba(255, 255, 255, 0.5);
}

._w-fitContent {
  width: fit-content;
}

._h-fitContent {
  height: fit-content !important;
}

._cursor-pointer {
  cursor: pointer;
}

._radius {
  border-radius: 3px !important;
}

._radius_bottom {
  border-radius: 0 0 3px 3px !important;
}

// fonts

// 16
._fs-2 {
  font-size: $h4-font-size !important;
  @include md {
    font-size: $h2-font-size !important;
  }

  // font-size: $h2-font-size !important;
}

// 14
._fs-3 {
  font-size: $h4-font-size !important;
  @include md {
    font-size: $h3-font-size !important;
  }
  // font-size: $h3-font-size !important;
}

// 10
._fs-5 {
  font-size: $h6-font-size !important;
  @include md {
    font-size: $h5-font-size !important;
  }
}

._fs-primary {
  font-size: $h4-font-size !important;

  @include lg {
    font-size: $h3-font-size !important;
  }
}

._fw-light {
  font-weight: 100 !important;
}

._fw-regular {
  font-weight: 400 !important;
}

._fw-semiBold {
  font-weight: 600 !important;
}

._fs-responsive {
  font-size: 0.78rem !important;
}

@media (min-width: 400px) {
  ._fs-responsive {
    font-size: 1rem !important;
  }
}

@media (min-width: 500px) {
  ._fs-responsive {
    font-size: 0.75rem !important;
  }
}

@media (min-width: 560px) {
  ._fs-responsive {
    font-size: 1rem !important;
  }
}

// positioning

._d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

._d-between {
  display: flex;
  justify-content: space-between;
}

._align-center {
  display: flex;
  align-items: center;
}

// components

._formInCollapse {
  padding-inline: 0.5rem;
  padding-top: 0.25rem;
}

// animations

._anim-dropDown {
  -webkit-animation: dropDown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: dropDown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes dropDown {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
