@import "./variables";
@import "./mixins";

body {
  overflow-y: scroll;
}

._scrolHidden {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
._text-noWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._bg-opacity-white {
  background-color: rgba(255, 255, 255, 0.5);
}

._w-fitContent {
  width: fit-content;
}

._h-fitContent {
  height: fit-content !important;
}

._cursor-pointer {
  cursor: pointer;
}

._radius {
  border-radius: 3px !important;
}

._radius_bottom {
  border-radius: 0 0 3px 3px !important;
}

// fonts

._fs-primary {
  font-size: $h4-font-size !important;
  @include lg {
    font-size: $h3-font-size !important;
  }
}

._fw-light {
  font-weight: 100 !important;
}

._fw-regular {
  font-weight: 400 !important;
}

._fw-semiBold {
  font-weight: 600 !important;
}

// positioning

._d-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

._d-between {
  display: flex !important;
  justify-content: space-between !important;
}

._align-center {
  display: flex;
  align-items: center;
}

// components

._formInCollapse {
  padding-inline: 0.5rem;
  padding-top: 0.25rem;
}

// animations

._anim-dropDown {
  -webkit-animation: dropDown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: dropDown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes dropDown {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
