@import "./_mixins.scss";

$primary: rgb(37, 105, 244);
$secondary: rgb(239, 239, 239);
$secondary-light: rgb(250, 250, 250);
$danger: rgb(255, 0, 0);
$dark: rgb(62, 62, 62);
$white: rgb(255, 255, 255);
$light-text-emphasis: rgb(110, 110, 110);
$input-border-color: rgb(226, 226, 226);
$border-color: rgb(226, 226, 226);
$opacity-dark: rgba(0, 0, 0, 0.3);
$opacity-white: rgba(255, 255, 255, 0.9);
$icons-primary: rgb(222, 222, 222);

$font-family-base: "Poppins", sans-serif;

$space-100: 0.312rem;
$space-200: 0.625rem;

$font-size-base: 0.875rem;
$input-font-size: 0.875rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1rem;
$h3-font-size: 0.875rem;
$h4-font-size: 0.75rem;
$h5-font-size: 0.625rem;
$h6-font-size: 0.5rem;

$header-height: 54px;

$summary-height-sm: 90px;
$summary-height-lg: 72px;

$grid-breakpoints: (
  xs: 0,
  sm: 460px,
  md: 650px,
  lg: 750px,
  xl: 1200px,
);
