$primary:rgb(50, 84, 253);
$warning: rgb(255, 124, 9);
$success: rgba(180,80,255);
$success-secondary: rgba(180,80,255);
$light:  rgb(29, 235, 10);

$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


.fs-7 {
  font-size: 0.8rem;
}
.fs-8 {
  font-size: 0.6rem;
}
