@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import "./variables";
@import "./mixins";
@import "./utilityClasses";

@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/mixins.scss";
@import "~bootstrap/scss/variables.scss";

$custom-theme-colors: (
  placeholder: rgb(210, 203, 203),
  primary-light: rgb(70, 131, 255),
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "~bootstrap/scss/bootstrap.scss";
