@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import "./mixins";
@import "./variables";
@import "./utilityClasses";

@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/mixins.scss";
@import "~bootstrap/scss/variables.scss";

$custom-theme-colors: (
  primary-light: rgb(224, 234, 255),
  placeholder: rgb(210, 203, 203),
  secondary-light: rgb(250, 250, 250),
  icons-primary: rgb(222, 222, 222),
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "~bootstrap/scss/bootstrap.scss";
