@import "../../../scss/mixins";

._formLoginContext {
  width: 100%;
  height: 100%;
  @include sm {
    width: fit-content;
    height: fit-content;
  }
  &__button {
    margin-left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
