@import "../../scss/mixins";
@import "../../scss/variables";

._indexContainer {
  min-height: calc(100vh - 37px);
  position: relative;

  @include lg {
    min-height: calc(100vh - 40px);
  }

  &__aside {
    max-width: 250px;

    @include md {
      width: 30%;
      background-color: $white;
    }
  }
  &__rightSide {
    width: 100%;
    @include md {
      width: 70%;
      max-width: 800px;
    }
  }
}
