.columnsHeaderCounter {
  height: 20px;
  overflow: hidden;
  margin-bottom: -2px;
 
}

@media (min-width: 400px) {
  .columnsHeaderCounter {
    margin-bottom: 4px;
  }
}

@media (min-width: 500px) {
  .columnsHeaderCounter {
    margin-bottom: 0px;
  }
}

@media (min-width: 560px) {
  .columnsHeaderCounter {
    margin-bottom: 4px;
  }
}