@import "../../../../scss/mixins";

._formSearchContext {
  width: 100%;
  margin-top: -0.5rem;
  @include md {
    width: 70%;
    max-width: 800px;
  }
  &__select {
    margin: auto;
    width: 180px;
  }
}
