@import "../../../scss/variables";
@import "../../../scss/mixins";

._column {
  width: 33%;
  @include md {
    width: 30%;
  }
}

._isDragging {
  background-color: rgba(0, 0, 0, 0.1);
}

._noDragging {
  background-color: $secondary-light;
}
