@import "../../../scss/mixins";

._settinsContent {
  min-height: calc(100vh - 43px);
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding-inline: 10%;
  // scrollbar-gutter: stable;
  &__wrapper {
    max-width: 480px;
    width: 100%;
  }
}
