@import "../../../scss/mixins";
@import "../../../scss/mixins";

._settingsContent {
  min-height: calc(100vh - 43px);
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding-inline: 5%;
  // scrollbar-gutter: stable;
  @include sm {
    padding-inline: 10%;
  }
  &__wrapper {
    max-width: 480px;
    width: 100%;
  }
}
