@import "../../../scss/mixins";

._columnsContainer {
  min-height: calc(100vh - 37px - 40px - 8px);

  @include lg {
    min-height: calc(100vh - 40px - 40px - 35px - 12px);
  }
}

._dragDropContex {
  min-height: calc(100vh - 40px - 40px - 8px);
}
