@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/mixins.scss";
@import "~bootstrap/scss/variables.scss";

.formContainer {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 102%;
    left:-5%;
    backdrop-filter: blur(5px);
  }
  &::after {
    content: "Zapisz liczbę godzin \A w miesiącu";
    position: absolute;
    color: $danger;
    text-align: center;
    font-weight: 700;
    left: 0;
    top: 15%;
    width: 100%;
    backdrop-filter: blur(4px);
    white-space: pre-line;
  }
}
